<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        {% block flashMessage %}
        <div class="messageContainer">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endblock %}
        
        {% block main %}{% endblock %}
    </body>
</html>