<!DOCTYPE html>
<html>
    <title>Homepage</title>

    <link rel="stylesheet" href="/static/homepage_css.css">

    <body>
        <div id="titleContainer">
            <h1 id="title">Hi! User</h1>
        </div>

        <div id="recordsContainer">
            <h2 id="recordsSubtitle">Records</h2>
            <a href="./records/input" title="record input">Input a record</a>
            <br>
            <a href="./records/listAll" title="record listAll">List all</a>
        </div>

        <div id="goalsContainer">
            <h2 id="goalsSubtitle">Goals</h2>
            <a href="./goals/input" title="goal input">Input a goal</a>
            <br>
            <a href="./goals/listAll" title="goal listAll">List all</a>
        </div>

        <div id="itemsContainer">
            <h2 id="itemsSubtitle">Items</h2>
            <a href="./items/input" title="item input">Input an item</a>
            <br>
            <a href="./items/listAll" title="item listAll">List all</a>
        </div>
        
        <div id="Presentation">
            <h2 id="presentationSubtitle">Presentation</h2>
            <a href="./presentation/test" title="chart test">Check your recent activity</a>
            <br>
            <a href="./presentation/chart" title="chart">Show learning curve</a>

        </div>
    </body>
</html>