<!doctype html>
<html>
    <title>(Presentation) Show study record</title>

    <body>
        <div class="studyContainer">
            <h1 class="studyContainer">View all study record</h1>

            <ul class="studyList">
                {% for s in studies%}
                <li class="listItem">
                    <h3 class="listItem" id="courseNumber">{{s[0]}}, {{s[1]}}</h3>
                    <p class="listItem" id="date">Date: {{s[2]}}</p>
                    <p class="listItem" id="duration">Duration: {{s[3]}} min.</p>
                    <p class="listItem" id="content">Content: {{s[4]}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>