<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<html>
    <title>(Learning) Study Visualization</title>
    <body>
        <div>
            <h1 id="title">Please choose which you want to check</h1>
            <form method="post" id="item">
                Item Name:<select name="item_name" form="item">
                            {% for i in items %}
                            <option value="{{i.Name}}" selected>{{i.Name}}</option>
                            {% endfor %}
                        </select>
                <button type="submit">Submit</button>
            </form>
            {% if selected_item != None %}
            <h2>Learning Curve of {{selected_item}}</h2>
            <div class="chart-container" style="position: relative; height:30vh; width:60vw">
                <canvas id="myChart"></canvas>
            </div>
            {% endif %}
        </div>
    </body>
    <script>
        const time = {{time}};
        const label = {{date|tojson}};
        const data = {
            labels: label,
            datasets: [{
                label: 'Learning Curve',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: time,}]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
            scales: {
                x: {
                    ticks: {
                        // Include a dollar sign in the ticks
                        callback: function(val, index) {
                            // Hide the label of every 2nd dataset
                            return index % 10 === 0 ? this.getLabelForValue(val) : '';
                        },
                        color: 'black',
                    }
                }
            }
            }
        };

        var myChart = new Chart(
            document.getElementById('myChart'),
            config,
        );

    </script>

</html>