<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<html>
    <title>(Learning) Study Visualization</title>
    <body>
        <a href="/home" title="go to Homepage">&lt; Go back home</a>
        <div>
            <h1 id="title">Please choose which you want to check</h1>
            <form method="post" id="item">
                Item Name:<select name="item_name" form="item">
                            {% for i in items %}
                            <option value="{{i.Name}}" selected>{{i.Name}}</option>
                            {% endfor %}
                            <option value="All" selected>All</option>
                        </select>
                <button type="submit">Submit</button>
            </form>
            {% if selected_item != None %}
            <h2>Learning Curve of All items</h2>
            <div class="chart-container" style="position: relative; height:30vh; width:60vw">
                <canvas id="myChart"></canvas>
            </div>
            {% endif %}
        </div>
    </body>
    <script>
        {% if selected_item != None %}
            const time_record = {{time_record|tojson}};
            console.log(Object.keys(time_record).length)
            var test = []
            for (const [key, value] of Object.entries(time_record)) {
                var random_color = "#" + ((1<<24)*Math.random() | 0).toString(16)
                test = test.concat({
                    label: key,
                    backgroundColor: random_color,
                    borderColor: random_color,
                    data: value,
                });
                console.log(key, value);
            }
            console.log(test);
            const label = {{date|tojson}};
            var data = {
                labels: label,
                datasets: test
            };

            const config = {
                type: 'line',
                data: data,
                options: {
                scales: {
                    x: {
                        ticks: {
                            // Include a dollar sign in the ticks
                            callback: function(val, index) {
                                // Hide the label of every 2nd dataset
                                return index % 10 === 0 ? this.getLabelForValue(val) : '';
                            },
                            color: 'black',
                        }
                    }
                }
                }
            };

            var myChart = new Chart(
                document.getElementById('myChart'),
                config,
            );
        {% endif %}

    </script>

</html>