<meta charset="utf-8">
<title>Recent</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='chart.css') }}"/>    

<!-- modified by sky712345678-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/presentation/recent_css.css">
<!-- modified by sky712345678-->

<body>
    <!-- modified by sky712345678-->
    <!--h1 align="center">Recent activity</h1-->
    <!-- modified by sky712345678-->
    <!-- 調整大小參考 https://www.chartjs.org/docs/latest/configuration/responsive.html -->

    <!-- modified by sky712345678-->
    <div id="contentContainer">
    <!-- modified by sky712345678-->
    
    <!-- modified by sky712345678-->
    <!--div style="position: absolute;top:15vh; left: 20vw; height:20vw; width:20vw">
        <canvas id="pie_chart" width="100" height="50"></canvas>
    </div-->
    <!-- modified by sky712345678-->
    
    <!-- modified by sky712345678-->
    <!--div class="chart-container" style="position: absolute; top:15vh; left: 40vw;height:20vh; width:40vw">   
        <canvas id="myChart"></canvas>
    </div-->
    <!-- modified by sky712345678-->

    <!-- modified by sky712345678-->
    <h1 id="pageTitle">時間管理大師</h1>
    <div id="chartContainer">
        <div class="cardHeaderContainer">
            <div class="titleContainer">
                <h2 class="recentRecordsContainer"><i class="fa fa-pie-chart"></i> 總覽</h2>
            </div>
        </div>
        <div id="pieChartContainer">
            <canvas id="pie_chart" width="100" height="50"></canvas>
        </div>
        <div id="lineChartContainer">
            <canvas id="myChart"></canvas>
        </div>
    
    <!-- modified by sky712345678-->
    <!--div style="position: absolute; top:55vh; left: 20vw;height:20vh; width:60vw"-->
        <div id="summaryContainer">
        <!-- modified by sky712345678-->
            <!--<span>近七天總活動時間：{{sum_7D}}分鐘 （</span><span style="color: red">↓ 分鐘</span><span>）</span>-->
            <h3>近七天總活動時間</h3>
            {% for i in category_sum %}
            <span>{{i[0]}}：</span><span>{{i[1]}} 分鐘 &nbsp;</span>
            {% endfor %}
            <hr>
            {% for item,time in each_sum.items() %}
            <p>&nbsp;&nbsp;&nbsp;{{item}}：{{time}} 分鐘</p>
            {% endfor %}
        </div>
    </div>
    <!-- modified by sky712345678-->

    <!-- modified by sky712345678-->
    <div id="recentRecordsContainer">
        <div class="cardHeaderContainer">
            <div class="titleContainer">
                <h2 class="recentRecordsContainer"><i class="fa fa-clock-o"></i> 最近的活動紀錄</h2>
            </div>
            <div class="buttonContainer">
                <button class="inputButton" onclick="location.href='/records/input'"><i class="fa fa-plus"></i> 新增</button>
                <button class="listAllButton" onclick="location.href='/records/listAll'"><i class="fa fa-list-ul"></i> 查看所有</button>
            </div>
        </div>

        {% for r in recentRecords %}
        <div class="recordContainer">
            <hr>
            {% if r.Category == 'Learning' %}
                <h3 class="item">{{r.Name}} ({{r.ItemNumber}}) | {{r.Duration}} minutes</h3>
            {% else %}
                <h3 class="item">{{r.Name}} | {{r.Duration}} minutes</h3>
            {% endif %}
            {% if r.Goal != None %}
                <div class="recordInfoContainer">
                    <p class="goalTitle">Goal</p>
                    <p class="goal">{{r.Goal}} ({{r.AchievePercentage}}%)</p>
                </div>
            {% endif %}
            <div class="recordInfoContainer">
                <p class="descriptionTitle">Description</p>
                <p class="description">{{r.Description}}</p>
            </div>
            {% if r.Category == 'Learning' %}
                <p class="categoryAndDate"><i class="fa fa-book"></i> {{r.Category}} | {{r.Date}}</p>
            {% elif r.Category == 'Sports' %}
                <p class="categoryAndDate"><i class="fa fa-soccer-ball-o"></i>  {{r.Category}} | {{r.Date}}</p>
            {% else %}
                <p class="categoryAndDate"><i class="fa fa-gamepad"></i>  {{r.Category}} | {{r.Date}}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="goals" id="recentGoalsContainer">
        <div class="cardHeaderContainer">
            <div class="titleContainer">
                <h2 class="cardHeader"><i class="fa fa-rocket"></i> 近期目標</h2>
            </div>

            <div class="buttonContainer">
                <button class="inputButton" onclick="location.href='/goals/input'"><i class="fa fa-plus"></i> 新增</button>
                <button class="listAllButton" onclick="location.href='/goals/listAll'"><i class="fa fa-list-ul"></i> 查看所有</button>
            </div>
    
            <div class="progressContainer">
                <div class="progress" id="messageContainer">
                    <h3 class="message">{{percentage}}% 達成</h3>
                </div>
    
                <div class="progress" id="barContainer">
                    <div id="bar">{{percentage}}%</div>
                </div>
            </div>
    
            <div class="progressDetailContainer">
                <div class="progressDetail" id="numberOfAchievedGoals">
                    <h4 class="numberOfAchievedGoals">達成的目標: {{numberOfAchievedGoals}}</h4>
                </div>
    
                <div class="progressDetail" id="numberOfQuittedGoals">
                    <h4 class="numberOfAchievedGoals">失敗的目標: {{numberOfQuittedGoals}}</h4>
                </div>
    
                <div class="progressDetail" id="numberOfGoalsContainer">
                    <p class="numberOfGoals">總數: {{numberOfGoals}}</p>
                </div>
            </div>
        </div>
        
        {% for g in recentGoals %}
        <div class="goalOuterContainer">
            <div class="goalContainer">
                {% if g.Achieved == 'Y' %}
                    <h3 class="goal"><i class="fa fa-check-circle"></i> {{g.Goal}}</h3>
                {% elif g.Achieved == 'F' %}
                    <h3 class="goal"><i class="fa fa-times-circle"></i> {{g.Goal}}</h3>
                {% else %}
                    <h3 class="goal">({{g.AchievePercentage}}%) {{g.Goal}}</h3>
                {% endif %}

                {% if g.Category == 'Learning' %}
                    <p class="item">{{g.Name}} ({{g.ItemNumber}})</p>
                {% else %}
                    <p class="item">{{g.Name}}</p>
                {% endif %}
                
                {% if g.Achieved == 'Y' %}
                    <p class="achieveInfo">Achieved: Yes. Achieved on {{g.AchieveDate}}.</p>
                {% elif g.Achieved == 'N' %}
                    <p class="achieveInfo">Achieved: No</p>
                {% else %}
                    <p class="achieveInfo">Failed</p>
                {% endif %}

                {% if g.Category == 'Learning' %}
                    <p class="categoryAndDate"><i class="fa fa-book"></i> {{g.Category}} | {{g.SetDate}}</p>
                {% elif g.Category == 'Sports' %}
                    <p class="categoryAndDate"><i class="fa fa-soccer-ball-o"></i> {{g.Category}} | {{g.SetDate}}</p>
                {% else %}
                    <p class="categoryAndDate"><i class="fa fa-gamepad"></i> {{g.Category}} | {{g.SetDate}}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="items" id="frequentItemsContainer">
        <div class="cardHeaderContainer">
            <div class="titleContainer">
                <h2 class="frequentItemsContainer"><i class="fa fa-angle-double-right"></i> 常做的項目</h2>
            </div>
            <div class="buttonContainer">
                <button class="inputButton" onclick="location.href='/items/input'"><i class="fa fa-plus"></i> 新增</button>
                <button class="listAllButton" onclick="location.href='/items/listAll'"><i class="fa fa-list-ul"></i> 查看所有</button>
            </div>
        </div>
        
        {% for i in frequentItems%}
        <div class="itemOuterContainer">
            <div class="itemContainer">
                <h3 class="name">{{i.Name}}</h3>
                {% if i.Category == 'Learning' %}
                    <p class="category">Category: <i class="fa fa-book"></i> {{i.Category}}</p>
                    <p class="itemNumber">{{i.ItemNumber}}</p>
                {% elif i.Category == 'Sports' %}
                    <p class="category">Category: <i class="fa fa-soccer-ball-o"></i> {{i.Category}}</p>
                {% else %}
                    <p class="category">Category: <i class="fa fa-gamepad"></i> {{i.Category}}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- modified by sky712345678-->
    
    
</body>
<!-- jinja2 一些傳遞限制語法 https://hackmd.io/@shaoeChen/SJ0X-PnkG?type=view -->
<script>
    var backgroundColor = [
                    'rgba(255, 99, 132)',
                    'rgba(54, 162, 235)',
                    'rgba(255, 206, 86)',
                    'rgba(75, 192, 192)',
                    'rgba(153, 102, 255)',
                    'rgba(255, 159, 64)'
                ]

    const time_record = {{time_record|tojson}};
    console.log(Object.keys(time_record).length)
    var test = []
    var color_counter = 0
    for (const [key, value] of Object.entries(time_record)) {
        var random_color = "#" + ((1<<24)*Math.random() | 0).toString(16)
        test = test.concat({
            label: key,
            backgroundColor: backgroundColor[color_counter],
            borderColor: backgroundColor[color_counter++],
            data: value,
        });
        console.log(key, value);
    }
    console.log(test);
    const label = {{date|tojson}};
    var data = {
        labels: label,
        datasets: test
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            scales: {
                
                x: {
                    ticks: {
                        // Include a dollar sign in the ticks
                        callback: function(val, index) {
                            // Hide the label of every 2nd dataset
                            return index % 2 === 0 ? this.getLabelForValue(val) : '';
                        },
                        color: 'black',
                    }
                }                
            }
        }
    };

    var myChart = new Chart(
        document.getElementById('myChart'),
        config,
    );
    let index_test = {{each_sum|tojson}}
    console.log(Object.keys(index_test))

    var ctx = document.getElementById("pie_chart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: Object.keys(index_test),
            datasets: [{            
                data: Object.values(index_test),
                backgroundColor: backgroundColor,
                borderWidth: 1
            }]
        },
        options: {}
    });

    /*modified by sky712345678*/
    var element = document.getElementById('bar');
    var elementHeight = element.clientHeight;
    document.addEventListener('scroll', animate);

    function inView() {
        // get window height
        var windowHeight = window.innerHeight;
        // get number of pixels that the document is scrolled
        var scrollY = window.scrollY || window.pageYOffset;
        
        // get current scroll position (distance from the top of the page to the bottom of the current viewport)
        var scrollPosition = scrollY + windowHeight;
        // get element position (distance from the top of the page to the bottom of the element)
        var elementPosition = element.getBoundingClientRect().top + scrollY + elementHeight;
        
        // is scroll position greater than element position? (is element in view?)
        if (scrollPosition > elementPosition) {
            return true;
        }
        
        return false;
    }

    function animate(){
        if (element.classList.contains('animated') == false && inView()){
            element.classList.add('animated');
            var percentage = parseInt(document.getElementById('bar').innerHTML);
            var width = 0;
            var id = setInterval(frame, 10);
            function frame() {
                if (width == percentage) {
                    clearInterval(id);
                }
                else {
                    width++;
                    element.style.width = width + "%";
                    element.innerHTML = width + "%";
                    document.getElementById('bar').innerHTML = width + "%";
                }
            }
        }
    }
    /*modified by sky712345678*/
</script>