<!DOCTYPE html>
<html>
    <title>Item Input</title>
    <body>
        <div>
            <h1 id="title">Please enter an item</h1>

            <form action="/items/input/submit" method="post" id="itemInfo">
                Category:<select name="category" form="itemInfo" onchange="categoryCheck(this)">
                            <option value="Learning">Learning</option>
                            <option value="Sports">Sports</option>
                            <option value="Leisure">Leisure</option>
                        </select>
                <br>
                <div id="itemNumberContainer" style="display: block;">
                    Course number:<input type="item" name="itemNumber" placeholder="Please enter course number">
                </div>
                Name:<input type="item" id="nameInput" name="name" placeholder="Please enter course name">
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
        
        <script src="/static/item_input_js.js"></script>
    </body>
</html>