<!doctype html>
<html>
    <title>List items</title>

    <link rel="stylesheet" href="/static/items/item_listAll_css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <body onload="setInfo()">
        <a href="/home" title="go to Homepage">&lt; Go back home</a>
        {% block flashMessage %}
            {% with messages = get_flashed_messages() %}
            <div class="messageContainer">

                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                
            </div>
            {% endwith %}
        {% endblock %}

        <div class="items" id="itemListContainer">
            <h1 class="items">View all items</h1>

            <h2 class="learningItems"><i class="fa fa-book"></i> Learning</h2>
            <div id="learningItemsContainer">
                {% for i in learningItems%}
                <div id="itemContainer">
                    <h3 class="item" id="name">{{i.Name}}</h3>
                    <p class="item" id="category">Category: {{i.Category}}</p>
                    <p class="item" id="itemNumber">{{i.ItemNumber}}</p>

                    <div id="buttonContainer">
                        <button id="modifyRequestButton" onclick="sendModifyRequest('{{i.ItemNumber}}')"><i class="fa fa-edit"></i> Edit</button>
                        <button id="deleteRequestButton" onclick="deleteWarn('{{i.ItemNumber}}')"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h2 class="sportsItems"><i class="fa fa-soccer-ball-o"></i> Sports</h2>
            <div id="sportsItemsContainer">
                {% for i in sportsItems%}
                <div id="itemContainer">
                    <h3 class="item" id="name">{{i.Name}}</h3>

                    <div id="buttonContainer">
                        <button id="modifyRequestButton" onclick="sendModifyRequest('{{i.ItemNumber}}')"><i class="fa fa-edit"></i> Edit</button>
                        <button id="deleteRequestButton" onclick="deleteWarn('{{i.ItemNumber}}')"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h2 class="leisureItems"><i class="fa fa-gamepad"></i> Leisure</h2>
            <div id="leisureItemsContainer">
                {% for i in leisureItems%}
                <div id="itemContainer">
                    <h3 class="item" id="name">{{i.Name}}</h3>

                    <div id="buttonContainer">
                        <button id="modifyRequestButton" onclick="sendModifyRequest('{{i.ItemNumber}}')"><i class="fa fa-edit"></i> Edit</button>
                        <button id="deleteRequestButton" onclick="deleteWarn('{{i.ItemNumber}}')"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="modifyRequestContainer" style="display: none;"></div>
        <div id="deleteRequestContainer" style="display: none;"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/items/item_listAll_js.js"></script>
    </body>
</html>