{% extends "base.html" %}

{% block title %}Edit item{% endblock %}

{% block main %}
<main onload="recordAndSetInfo()">
    <div class="itemContainer">
        <h1 class="itemContainer">Edit item</h1>

        <form id="itemInfoForm" enctype="multipart/form-data">
            Category:<select id="categorySelect" name="category" form="itemInfoForm" onchange="categoryCheck(this)">
                        <option value="Learning">Learning</option>
                        <option value="Sports">Sports</option>
                        <option value="Leisure">Leisure</option>
                    </select>
            <br>
            <div id="itemNumberContainer" style="display: block;">
                Course number:<input type="item" id="itemNumberInput" name="itemNumber" placeholder="Please enter course number" value="{{item.ItemNumber}}">
            </div>
            Name:<input type="item" id="nameInput" name="name" placeholder="Please enter course name" value="{{item.Name}}">
            <br>
            <div id="originalItemNumberContainer" style="display: none;"></div>
            <!--button type="submit" id="submitButton">Submit</button-->
        </form>
        <button type="confirm" id="confirmButton">Confirm</button>
        <button type="cancel" id="cancelButton">Cancel</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/items/item_modify_js.js"></script>
</main>
{% endblock %}