<!doctype html>
<html>
    <title>Edit item</title>

    <body onload="recordAndSetInfo()">
        <div class="itemContainer">
            <h1 class="itemContainer">Edit item</h1>

            <form id="itemInfoForm" action="./modify/submit" method="post">
                Category <select id="categorySelect" name="category" form="itemInfoForm" onchange="categoryCheck(this)">
                            <option value="Learning">Learning</option>
                            <option value="Sports">Sports</option>
                            <option value="Leisure">Leisure</option>
                        </select>
                <br>
                <div id="itemNumberContainer" style="display: block;">
                    Course number <input type="text" id="itemNumberInput" name="itemNumber" placeholder="Please enter course number" value="{{item.ItemNumber}}" required>
                </div>
                Name <input type="text" id="nameInput" name="name" placeholder="Please enter course name" value="{{item.Name}}" required>
                <br>
                <div id="originalItemInfoContainer" style="display: none;">
                    <input type="text" id="originalCategoryInput" name="originalCategory" value="{{item.Category}}">
                </div>
                <button type="submit" id="confirmButton">Save</button>
                <button type="button" id="cancelButton">Cancel</button>
            </form>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/items/item_modify_js.js"></script>
    </body>
</html>