<!doctype html>
<html>
    <title>List items</title>

    <body onload="setInfo()">
        <a href="/home" title="go to Homepage">&lt; Go back home</a>
        {% block flashMessage %}
            {% with messages = get_flashed_messages() %}
            <div class="messageContainer">

                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                
            </div>
            {% endwith %}
        {% endblock %}

        <div class="items" id="itemContainer">
            <h1 class="items">View all items</h1>

            <h2 class="learningItems">Learning</h2>
            <ul class="learningItems" id="learningItemsList">
                {% for i in learningItems%}
                <li class="learningItems">
                    <h3 class="item" id="name">{{i.Name}}</h3>
                    <p class="item" id="category">Category: {{i.Category}}</p>
                    <p class="item" id="itemNumber">{{i.ItemNumber}}</p>
                    <button id="modifyRequestButton" onclick="sendModifyRequest('{{i.ItemNumber}}')">Edit</button>
                    <button id="deleteRequestButton" onclick="deleteWarn('{{i.ItemNumber}}')">Delete</button>
                </li>
                {% endfor %}
            </ul>

            <h2 class="sportsItems">Sports</h2>
            <ul class="sportsItems" id="sportsItemsList">
                {% for i in sportsItems%}
                <li class="sportsItems">
                    <h3 class="item" id="name">{{i.Name}}</h3>
                    <p class="item" id="category">Category: {{i.Category}}</p>
                    <button id="modifyRequestButton" onclick="sendModifyRequest('{{i.ItemNumber}}')">Edit</button>
                    <button id="deleteRequestButton" onclick="deleteWarn('{{i.ItemNumber}}')">Delete</button>
                </li>
                {% endfor %}
            </ul>

            <h2 class="leisureItems">Leisure</h2>
            <ul class="leisureItems" id="leisureItemsList">
                {% for i in leisureItems%}
                <li class="leisureItems">
                    <h3 class="item" id="name">{{i.Name}}</h3>
                    <p class="item" id="category">Category: {{i.Category}}</p>
                    <button id="modifyRequestButton" onclick="sendModifyRequest('{{i.ItemNumber}}')">Edit</button>
                    <button id="deleteRequestButton" onclick="deleteWarn('{{i.ItemNumber}}')">Delete</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="modifyRequestContainer" style="display: none;"></div>
        <div id="deleteRequestContainer" style="display: none;"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/items/item_listAll_js.js"></script>
    </body>
</html>