<!doctype html>
<html>
    <title>List items</title>

    <body onload="setInfo()">
        <a href="/home" title="go to Homepage">&lt; Go back home</a>
        {% block flashMessage %}
            {% with messages = get_flashed_messages() %}
            <div class="messageContainer">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </div>
            {% endwith %}
        {% endblock %}

        <div class="itemContainer">
            <h1 class="itemContainer">View all items</h1>

            <ul class="setItems">
                {% for i in items%}
                <li class="setItems">
                    <h3 class="item" id="name">{{i.Name}}</h3>
                    <p class="item" id="category">Category: {{i.Category}}</p>
                    <p class="item" id="itemNumber">{{i.ItemNumber}}</p>
                    <button type="modifyRequest" onclick="sendModifyRequest('{{i.ItemNumber}}')">Edit</button>
                    <button type="deleteRequest" onclick="deleteWarn('{{i.ItemNumber}}')">Delete</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="modifyRequestContainer" style="display: none;"></div>
        <div id="deleteRequestContainer" style="display: none;"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/items/item_listAll_js.js"></script>
    </body>
</html>