<!DOCTYPE html>
<html>
    <title>(Learning) Study Input</title>
    <body>
        <div>
            <h1 id="title">Please enter what you study</h1>

            <form action="/learning/Study/input/submit" method="post" id="study">
                Course Number:<select name="courseNumber" form="study">
                            <option value="{{courses[0].CourseNumber}}" selected>{{courses[0].CourseNumber}} - {{courses[0].CourseName}}</option>
                            {% for c in courses[1:] %}
                                <option value="{{c.CourseNumber}}">{{c.CourseNumber}} - {{c.CourseName}}</option>
                            {% endfor %}
                        </select>
                <br>
                Date:<input type="study" name="date" placeholder="Please enter the date">
                <br>
                Duration (min.):<input type="study" name="duration" placeholder="Please enter how long you study">
                <br>
                Content:<input type="study" name="content" placeholder="Please enter what you study">
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>