<!doctype html>
<html>
    <title>(Learning) List courses</title>

    <body>
        <div class="courseContainer">
            <h1 class="courseContainer">View all the courses</h1>

            <ul class="courseList">
                {% for c in courses %}
                <li class="listItem">
                    <h3 class="listItem" id="courseName">{{c.CourseName}}</h3>
                    <p class="listItem" id="schoolYear&semester">{{c.Semester}}</p>
                    <p class="listItem" id="courseNumber">Course number: {{c.CourseNumber}}</p>
                    <p class="listItem" id="credits">Credits: {{c.Credits}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>