<!DOCTYPE html>
<html>
    <title>(Learning) Course Input</title>
    <body>
        <div>
            <h2 id="title">Please enter the courses you take in this semester</h2>

            <form action="/learning/CourseInput/submit" method="post" id="courseInfo">
                Semester:<select name="semester" form="courseInfo">
                            <option value="109_Spring">109 Spring</option>
                            <option value="109_Fall">109 Fall</option>
                            <option value="108_Spring">108 Spring</option>
                            <option value="108_Fall">108 Fall</option>
                            <option value="107_Spring">107 Spring</option>
                            <option value="107_Fall">107 Fall</option>
                        </select>
                <br>
                Course number:<input type="course" name="courseNumber" placeholder="Please enter course number">
                <br>
                Course name:<input type="course" name="courseName" placeholder="Please enter course name">
                <br>
                Credits:<input type="course" name="credits" placeholder="Please enter the credits of the course">
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>