<!DOCTYPE html>
<html>
    <title>(Learning) Test Input</title>
    <body>
        <div>
            <h1 id="title">Please enter what test you take</h1>

            <form action="/learning/Test/input/submit" method="post" id="test">
                Course Number:<select name="courseNumber" form="test">
                            <option value="{{courses[0].CourseNumber}}" selected>{{courses[0].CourseNumber}} - {{courses[0].CourseName}}</option>
                            {% for c in courses[1:] %}
                                <option value="{{c.CourseNumber}}">{{c.CourseNumber}} - {{c.CourseName}}</option>
                            {% endfor %}
                        </select>
                <br>
                Date:<input type="test" name="date" placeholder="Please enter the date">
                <br>
                Grade:<input type="test" name="grade" placeholder="Please enter how long you study">
                <br>
                Comment:<input type="test" name="comment" placeholder="Please enter what you study">
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>