body {
    background-color: #f6f6f8;
}

a, li, div, h1, h2, h3, h4, p {
    font-family: sans-serif;
}

h2 {
    text-align: center;
    padding-top: 2%;
    margin-bottom: 3%;
}

h3 {
    font-size: larger;
    margin-bottom: 0%;
    margin-top: 2%;
}

h4 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: normal;
    text-align: center;
}

#recordListContainer {
    width: 65%;
    text-align: center;
    margin: auto;
}

.intervalContainer {
    background-color: white;
    text-align: center;

    border-width: 1px;
    border-radius: 12px;

    box-shadow: 0px 8px 24px rgb(13 13 18 / 4%);

    margin: 1% 1% 3% 1%;
    padding-bottom: 2%;
}

.pieChartContainer {
    width: 30%;

    display: inline-block;

    vertical-align: top;
}

.lineChartContainer {
    width: 60%;

    display: inline-block;
    
    vertical-align: top;
}

.summaryCategory {
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    border-color: rgb(180, 180, 180);

    height: 86px;
    width: 28%;
    margin: 3% 1% 2% 1%;

    text-align: center;
    vertical-align: top;

    display: inline-block;
}

.summaryCategory h3 {
    margin-top: 5%;
    margin-bottom: 2%;
}

.recordContainer {
    width: 90%;
    margin: auto;
}

.recordTitleContainer{
    width: 83%;

    display: inline-block;
}

.buttonContainer {
    width: 15%;
    margin-top: 0;
    text-align: right;

    display: inline-block;
}

button {
    background-color: white;

    border-style: none;
    border-radius: 6px;

    font-size: 16px;

    padding: 8px 12px;

    cursor: pointer;
}


button:hover {
    background-color: #f6f6f8;
}


.modifyRequestButton {
    color: black;
}

.modifyRequestButton:hover {
    color: royalblue;
}

.deleteRequestButton {
    color: rgb(215, 4, 4);
}

.deleteRequestButton:hover {
    color:rgb(255, 4, 4)
}

.recordContainer {
    text-align: left;
}

.recordInfoContainer {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.goalTitle, .descriptionTitle {
    color: rgb(90, 90, 90);
    font-size: smaller;
    margin-top: 5%;
    margin-bottom: 0%;
}

.goal, .description {
    margin-top: 0%;
}

.categoryAndDate {
    color: rgb(90, 90, 90);

    font-size: smaller;

    margin-top: 1%;
    margin-bottom: 0%;
}

.foldButtonContainer {
    text-align: center;
}

.foldButton {
    font-size: 20px;

    padding: 4px 45%;
}