body {
    background-color: #f6f6f8;
}

a, div, h1, p {
    font-family: sans-serif;
}

#recordContainer {
    width: 40%;
    margin: auto;
    text-align: center;
}

#recordInfoForm {
    background-color: white;
    width: 100%;

    border-width: 1px;
    border-radius: 15px;

    margin-top: 10px;
    padding-top: 5px;
}

input, select {
    margin-top: 15px;
    width: 150px;
}

label {
    display:inline-block;
    width: 170px;      
}

button {
    border-style: none;
    border-radius: 6px;

    font-size: 14px;

    margin-top: 2%;
    margin-bottom: 2%;
    padding: 4px 30px;

    cursor: pointer;
}

button:hover {
    background-color: #d4d3d3;
}