body {
    background-color: #f6f6f8;
}

a, div, h1, p {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    padding-top: 2%;
    margin-bottom: 1%;
}

#goalContainer {
    width: 30%;
    text-align: center;
    margin: auto;
}

#goalInfoForm {
    background-color: white;
    width: 100%;

    border-width: 1px;
    border-radius: 15px;
}


input, select {
    width: 150px;
    margin-top: 15px;
    box-sizing: border-box;
}
label {
    display: inline-block;
    width: 100;
}

button {
    border-style: none;
    border-radius: 6px;

    font-size: 14px;

    margin-top: 2%;
    margin-bottom: 2%;
    padding: 4px 30px;

    cursor: pointer;
}

button:hover {
    background-color: #d4d3d3;
}