#progressContainer {
    width: 50%;
    text-align: center;
    display: inline-block;
}

.progress{
    display: inline-block;
}

#percentageContainer {
    width: auto;
    text-align: left;
    margin: 1% 1% 1% 5%;
}

#barContainer {
    width: 65%;
    background-color: rgb(197, 197, 197);
    margin: 1% 5% 1% 1%;
}

#bar {
    width: 0%;
    height: 30px;
    background-color: #04AA6D;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

#progressDetailContainer {
    width: 50%;
    text-align: center;
    display: inline-block;
}

.progressDetail {
    width: 30%;
    display: inline-block;
}