body {
    background-color: #f6f6f8;
}

a, li, div, h1, h2, h3, h4, p {
    font-family: sans-serif;
}

h2 {
    text-align: center;
    padding-top: 2%;
    margin-bottom: 1%;
}

h3 {
    font-size: larger;
    margin-bottom: 0%;
}

h4 {
    margin-top: 1%;
    font-weight: normal;
    text-align: center;
}

#itemListContainer {
    width: 70%;
    text-align: center;
    margin: auto;
}

.itemContainer {
    height: 170px;
    width: 43%;
    margin: 1%;
    padding-bottom: 2%;

    background-color: white;

    border-width: 1px;
    border-radius: 15px;

    box-shadow: 0px 8px 24px rgb(13 13 18 / 4%);

    vertical-align: top;
    display: inline-block;
}

.itemMinimalContainer {
    height: 90px;
    width: 43%;
    margin: 1%;
    padding-bottom: 2%;

    background-color: white;

    border-width: 1px;
    border-radius: 15px;

    box-shadow: 0px 8px 24px rgb(13 13 18 / 4%);

    vertical-align: top;
    display: inline-block;
}

.itemMinimalContainer h3 {
    padding-bottom: 1%;
}

.buttonContainer {
    text-align: center;
}

button {
    border-style: none;
    border-radius: 5px;

    font-size: 14px;

    margin-top: 1%;
    margin-bottom: 1%;

    cursor: pointer;
}

button:hover {
    background-color: #d4d3d3;
}

.modifyRequestButton {
    color: black;
    padding: 8px 30px;
}

.deleteRequestButton {
    color: rgb(235, 4, 4);
    padding: 8px 30px;
}