<!doctype html>
<html>
    <title>Record existed</title>

    <body>
        <div class="recordContainer">
            <h1 class="recordContainer">There's already a record for that day</h1>

            <ul class="existedRecord">
                <li class="existedRecord">
                    {% if record.Category == 'Learning' %}
                        <h3 class="record" id="item">{{record.Name}} ({{record.ItemNumber}}) | {{record.Duration}} minutes</h3>
                    {% else %}
                        <h3 class="record" id="item">{{record.Name}} | {{record.Duration}} minutes</h3>
                    {% endif %}

                    {% if record.Goal != None %}
                        <p class="record" id="goal">Goal: {{record.Goal}} ({{record.AchievePercentage}}%)</p>
                    {% endif %}

                    <p class="record" id="description">Description: {{record.Description}}</p>
                    <p class="record" id="date">Date: {{record.Date}}</p>

                    <button id="backButton" onclick="back()">Back</button>
                    <button id="modifyRequestButton" onclick="sendModifyRequest('{{record.ItemNumber}}', '{{record.Date}}', '{{record.SetDateTime}}')">Edit</button>
                </li>
            </ul>
        </div>
        <div id="modifyRequestContainer" style="display: none;"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/records/record_existed_js.js"></script>
    </body>
</html>