<!doctype html>
<html>
    <title>重複的活動紀錄</title>

    <link rel="stylesheet" href="/static/records/record_existed_css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <body>
        <h1 class="recordContainer">當天已有相同的活動紀錄</h1>

        <div id="contentContainer">
            <div id="recordOuterContainer">
                <div id="recordContainer">
                    {% if record.Category == 'Learning' %}
                        <h3 class="record" id="item">{{record.Name}} ({{record.ItemNumber}}) | {{record.Duration}} 分鐘</h3>
                    {% else %}
                        <h3 class="record" id="item">{{record.Name}} | {{record.Duration}} 分鐘</h3>
                    {% endif %}

                    {% if record.Goal %}
                        <div id="recordInfoContainer">
                            <p class="record" id="goalTitle">目標</p>
                            <p class="record" id="goal">{{record.Goal}} ({{record.AchievePercentage}}%)</p>
                        </div>
                    {% endif %}
                    <div id="recordInfoContainer">
                        <p class="record" id="descriptionTitle">備註</p>
                        <p class="record" id="description">{{record.Description}}</p>
                    </div>

                    {% if record.Category == 'Learning' %}
                        <p class="record" id="categoryAndDate"><i class="fa fa-book"></i> 學習 | {{record.Date}}</p>
                    {% elif record.Category == 'Sports' %}
                        <p class="record" id="categoryAndDate"><i class="fa fa-soccer-ball-o"></i> 運動 | {{record.Date}}</p>
                    {% else %}
                        <p class="record" id="categoryAndDate"><i class="fa fa-gamepad"></i> 休閒 | {{record.Date}}</p>
                    {% endif %}
                    <br>
                    <div id="buttonContainer">
                        <button id="modifyRequestButton" onclick="sendModifyRequest('{{record.ItemNumber}}', '{{record.SetDateTime}}')"><i class="fa fa-edit"></i> 編輯</button>
                        <br>
                        <button id="backButton" onclick="back()">返回</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modifyRequestContainer" style="display: none;"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/records/record_existed_js.js"></script>
    </body>
</html>