<!DOCTYPE html>
<html>
    <title>Record Input</title>
    <body>
        <div>
            <h1 id="title">Please enter the time record</h1>

            <!--form action="/records/input/submit" method="post" id="recordInfo"-->
            <form id="recordInfo" enctype="multipart/form-data">
                Item:<select type="record" name="itemNumber" form="recordInfo"><!--onchange="categoryCheck(this)"-->
                            {% for i in items %}
                                <option value="{{i.ItemNumber}}">{{i.Name}}</option>
                            {% endfor %}
                        </select>
                <br>
                Date:<input type="record" name="date" placeholder="YYYY/MM/DD">
                <br>
                Duration:<input type="record" name="duration" placeholder="Please enter the time you spent (min.)">
                <br>
                <!--temporary-->
                Goal:<select type="record" name="goalNumber" form="recordInfo">
                        <option value="">None</option>
                        {% for g in goals %}
                            <option value="{{g.GoalNumber}}">{{g.ItemName}} - {{g.Goal}}</option>
                        {% endfor %}
                    </select>
                <br>
                Achieve percentage: <input type="record" name="achievePercentage" placeholder="%">
                <br>
                Description: <input type="record" name="description">
                <br>
                <button type="submit" id="submitButton">Submit</button>
            </form>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/records/record_input_js.js"></script>
    </body>
</html>