<!doctype html>
<html>
    <title>Record existed</title>

    <body>
        <div class="recordContainer">
            <h1 class="recordContainer">There's already a record</h1>

            <ul class="existedRecord">
                <li class="existedRecord">
                    <h3 class="existedRecord" id="item">{{record.Name}}</h3>
                    <p class="existedRecord" id="date">Date: {{record.Date}}</p>
                    <p class="existedRecord" id="duration">Duration: {{record.Duration}}</p>
                    <p class="existedRecord" id="goal">Goal: {{record.Goal}}</p>
                    <p class="existedRecord" id="achievePercentage">Achieve percentage: {{record.AchievePercentage}}</p>
                    <p class="existedRecord" id="description">Description: {{record.Description}}</p>
                </li>
            </ul>
        </div>
    </body>
</html>