<!DOCTYPE html>
<html>
    <title>更改活動紀錄</title>
    
    <body onload="recordAndSetInfo()">
        <div id="recordContainer">
            <h1 id="title">更改活動紀錄 <i class="fa fa-wrench" aria-hidden="true"></i></h1>

            <link rel="stylesheet" href="/static/records/record_modify_css.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <form id="recordInfoForm" action="./modify/submit" method="post">
                <label>項目</label> <select id="itemNumberSelect" name="itemNumber" form="recordInfoForm"><!--onchange="categoryCheck(this)"-->
                        {% for i in items %}
                        <option value="{{i.ItemNumber}}">{{i.Name}}</option>
                        {% endfor %}
                    </select>
                <br>
                <label>日期</label> <input type="date" id="dateInput" name="date" placeholder="YYYY/MM/DD" value="{{record.Date}}" required>
                <br>
                <label>時長</label> <input type="number" id="durationInput" name="duration" placeholder="Please enter the time you spent (min.)" value="{{record.Duration}}" min="0" required>
                <br>
                <label>目標</label> <select id="goalNumberSelect" name="goalNumber" form="recordInfoForm"></select>
                <br>
                {% if record.GoalNumber == None %}
                    <div id="achievePercentageContainer" style="display: none;">
                        <label>達成度</label> <input type="number" id="achievePercentageInput" name="achievePercentage" placeholder="percentage %" min="0">
                    </div>
                {% else %}
                    <div id="achievePercentageContainer">
                        <label>達成度</label> <input type="number" id="achievePercentageInput" name="achievePercentage" placeholder="percentage %" value="{{record.AchievePercentage}}" min="0">
                    </div>
                {% endif %}
                <label>備註</label> <input type="text" id="descriptionInput" name="description" value="{{record.Description}}">
                <br>
                
                <div id="originalRecordInfoContainer" style="display: none;">
                    <input type="text" id="originalItemNumberInput" name="originalItemNumber" value="{{record.ItemNumber}}">
                    {% if record.GoalNumber == None %}
                        <input type="text" id="originalGoalNumberInput" name="originalGoalNumber" value="">
                    {% else %}
                        <input type="text" id="originalGoalNumberInput" name="originalGoalNumber" value="{{record.GoalNumber}}">
                    {% endif %}
                    <input type="text" id="setDateTimeInput" name="setDateTime" value="{{record.SetDateTime}}" disabled>
                </div>

                <button type="submit" id="confirmButton"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                <button type="button" id="cancelButton"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancel</button>
            </form>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/records/record_modify_js.js"></script>
    </body>
</html>