<!doctype html>
<html>
    <title>List records</title>

    <body onload="setInfo()">
        <a href="/home" title="go to Homepage">&lt; Go back home</a>
        {% block flashMessage %}
            {% with messages = get_flashed_messages() %}
            <div class="messageContainer">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </div>
            {% endwith %}
        {% endblock %}
        
        <div class="recordContainer">
            <h1 class="recordContainer">View all the records</h1>

            <ul class="allRecords">
                {% for r in records %}
                <li class="allRecords">
                    {% if r.Category == 'Learning' %}
                        <h3 class="record" id="item">{{r.Name}} ({{r.ItemNumber}}) | {{r.Duration}} minutes</h3>
                    {% else %}
                        <h3 class="record" id="item">{{r.Name}} | {{r.Duration}} minutes</h3>
                    {% endif %}

                    {% if r.Goal != None %}
                        <p class="record" id="goal">Goal: {{r.Goal}} ({{r.AchievePercentage}}%)</p>
                    {% endif %}

                    <p class="record" id="description">Description: {{r.Description}}</p>
                    <p class="record" id="date">{{r.Date}}</p>

                    <button id="modifyRequestButton" onclick="sendModifyRequest('{{r.ItemNumber}}', '{{r.Date}}', '{{r.SetDateTime}}')">Edit</button>
                    <button id="deleteRequestButton" onclick="deleteWarn('{{r.ItemNumber}}', '{{r.Date}}', '{{r.SetDateTime}}')">Delete</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="modifyRequestContainer" style="display: none;"></div>
        <div id="deleteRequestContainer" style="display: none;"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/records/record_listAll_js.js"></script>
    </body>
</html>