<!DOCTYPE html>
<html>
    <title>Record Input</title>
    <body onload="setInfo()">
        <a href="/home" title="go to Homepage">&lt; Go back home</a>
        {% block flashMessage %}
            {% with messages = get_flashed_messages() %}
            <div class="messageContainer">
                {% for message in messages %}
                <li>{{ message }} <a href="./listAll" title="record listAll">List all records</a></li>
                {% endfor %}
            </div>
            {% endwith %}
        {% endblock %}
        
        <div id="recordContainer">
            <h1 id="title">Please enter the time record</h1>

            <form action="./input/submit" method="post" id="recordInfoForm">
            <!--form id="recordInfoForm" enctype="multipart/form-data"-->
                Item <select id="itemNumberSelect" name="itemNumber" form="recordInfoForm"><!--onchange="categoryCheck(this)"-->
                            {% for i in items %}
                            {% if i.Category == 'Learning' %}
                                <option value="{{i.ItemNumber}}">{{i.Name}} ({{i.ItemNumber}})</option>
                            {% else %}
                                <option value="{{i.ItemNumber}}">{{i.Name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                <br>
                Date <input type="date" id="dateInput" name="date" placeholder="YYYY/MM/DD" required>
                <br>
                Duration <input type="text" id="durationInput" name="duration" placeholder="The time you spent (min.)" required>
                <br>
                <!--temporary-->
                Goal <select id="goalNumberSelect" name="goalNumber" form="recordInfoForm"></select>
                <br>
                Achieve percentage <input type="text" id="achievePercentageInput" name="achievePercentage" placeholder="%">
                <br>
                Description <input type="text" id="descriptionInput" name="description">
                <br>
                <button type="submit" id="submitButton">Submit</button>
            </form>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/records/record_input_js.js"></script>
    </body>
</html>