<!DOCTYPE html>
<html>
    <title>輸入活動紀錄</title>

    <link rel="stylesheet" href="/static/records/record_input_css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <body onload="setInfo()">
        <a href="/home" title="go to Homepage">&lt; 回首頁</a>
        {% block flashMessage %}
            {% with messages = get_flashed_messages() %}
            <div class="messageContainer">
                {% for message in messages %}
                - {{ message }} <a href="./listAll" title="record listAll">查看所有活動紀錄</a>
                {% endfor %}
            </div>
            {% endwith %}
        {% endblock %}
        
        <div id="recordContainer">
            <h1 class="containerTitle">請輸入活動紀錄  <i class="fa fa-clock-o" aria-hidden="true"></i></h1>

            <form action="./input/submit" method="post" id="recordInfoForm">
                <label>項目</label> <select id="itemNumberSelect" name="itemNumber" form="recordInfoForm"><!--onchange="categoryCheck(this)"-->
                        {% for i in items %}
                        {% if i.Category == 'Learning' %}
                            <option value="{{i.ItemNumber}}">{{i.Name}} ({{i.ItemNumber}})</option>
                        {% else %}
                            <option value="{{i.ItemNumber}}">{{i.Name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                <br>

                <label>日期</label> <input type="date" id="dateInput" name="date" placeholder="YYYY/MM/DD" required>
                <br>
                <label>時長</label> <input type="number" id="durationInput" name="duration" placeholder="The time you spent (min.)" required>
                <br>
                <label>目標</label> <select id="goalNumberSelect" name="goalNumber" form="recordInfoForm"></select>
                <br>
                <div id="achievePercentageContainer" style="display: none;">
                    <label>達成度</label> <input type="number" id="achievePercentageInput" name="achievePercentage" placeholder="%">
                </div>
                <label>備註</label> <input type="text" id="descriptionInput" name="description">
                <br>
                <button type="submit" id="submitButton"><i class="fa fa-heart" aria-hidden="true"></i> 新增</button>

            </form>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/records/record_input_js.js"></script>
    </body>
</html>