<!DOCTYPE html>
<html>
    <title>Edit record</title>
    
    <body onload="recordAndSetInfo()">
        <div id="recordContainer">
            <h1 id="title">Edit record</h1>

            <!--form action="/records/input/submit" method="post" id="recordInfo"-->
            <form id="recordInfoForm" action="./modify/submit" method="post">
                Item <select id="itemNumberSelect" name="itemNumber" form="recordInfoForm"><!--onchange="categoryCheck(this)"-->
                            {% for i in items %}
                            {% if i.Category == 'Learning' %}
                            <option value="{{i.ItemNumber}}">{{i.Name}} ({{i.ItemNumber}})</option>
                            {% else %}
                                <option value="{{i.ItemNumber}}">{{i.Name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                <br>
                Date <input type="date" id="dateInput" name="date" placeholder="YYYY/MM/DD" value="{{record.Date}}" required>
                <br>
                Duration <input type="text" name="duration" placeholder="Please enter the time you spent (min.)" value="{{record.Duration}}" required>
                <br>
                Goal <select id="goalNumberSelect" name="goalNumber" form="recordInfoForm"></select>
                <br>
                {% if record.GoalNumber == None %}
                    Achieve percentage <input type="text" name="achievePercentage" placeholder="%" value="">
                {% else %}
                    Achieve percentage <input type="text" name="achievePercentage" placeholder="%" value="{{record.AchievePercentage}}">
                {% endif %}
                <br>
                Description <input type="text" name="description" value="{{record.Description}}">
                <br>
                <div id="originalRecordInfoContainer" style="display: none;">
                    <input type="text" id="originalItemNumberInput" name="originalItemNumber" value="{{record.ItemNumber}}">
                    <input type="text" id="originalGoalNumberInput" name="originalGoalNumber" value="{{record.GoalNumber}}">
                    <input type="text" id="setDateTimeInput" name="setDateTime" value="{{record.SetDateTime}}" disabled>
                </div>
                <button type="submit" id="confirmButton">Save</button>
                <button type="button" id="cancelButton">Cancel</button>
            </form>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/records/record_modify_js.js"></script>
    </body>
</html>