<!doctype html>
<html>
    <title>所有目標</title>

    <link rel="stylesheet" href="/static/goals/goal_listAll_css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <body onload="setInfo()">
        <a href="/home" title="go to Homepage">&lt; 回首頁</a>
        {% block flashMessage %}
            {% with messages = get_flashed_messages() %}
            <div class="messageContainer">

                {% for message in messages %}
                - {{ message }}
                {% endfor %}

            </div>
            {% endwith %}
        {% endblock %}

        <div id="titleContainer">
            <h1 class="containerTitle">查看所有目標</h1>

            <div id="progressContainer">
                <div class="progress" id="messageContainer">
                    <h3 class="message">{{percentage}}% 達成</h3>
                </div>

                <div class="progress" id="barContainer">
                    <div id="bar">{{percentage}}%</div>
                </div>
            </div>

            <div id="progressDetailContainer">
                <div class="progressDetail" id="numberOfAchievedGoals">
                    <h4 class="numberOfAchievedGoals">達成: {{numberOfAchievedGoals}}</h4>
                </div>

                <div class="progressDetail" id="numberOfQuittedGoals">
                    <h4 class="numberOfAchievedGoals">失敗: {{numberOfQuittedGoals}}</h4>
                </div>

                <div class="progressDetail" id="numberOfGoalsContainer">
                    <p class="numberOfGoals">總數: {{numberOfGoals}}</p>
                </div>
            </div>
        </div>

        <div class="goals" id="goalListContainer">
            <h2 class="learningGoals"><i class="fa fa-book"></i> 學習</h2>
            <div class="goalsOuterContainer" id="learningGoalsContainer">
                {% for g in learningGoals %}
                <div class="goalContainer">
                    {% if g.Achieved == 'Y' %}
                        <h3 class="goal" id="goal"><i class="fa fa-check-circle"></i> {{g.Goal}}</h3>
                    {% elif g.Achieved == 'F' %}
                        <h3 class="goal" id="goal"><i class="fa fa-times-circle"></i> {{g.Goal}}</h3>
                    {% else %}
                        <h3 class="goal" id="goal">({{g.AchievePercentage}}%) {{g.Goal}}</h3>
                    {% endif %}

                    {% if g.Category == 'Learning' %}
                        <p class="goal" id="item">{{g.Name}} ({{g.ItemNumber}})</p>
                    {% else %}
                        <p class="goal" id="item">{{g.Name}}</p>
                    {% endif %}
                    
                    {% if g.Achieved == 'Y' %}
                        <p class="goal" id="achieveInfo">狀態: 已於{{g.AchieveDate}}達成</p>
                    {% elif g.Achieved == 'N' %}
                        <p class="goal" id="achieveInfo">狀態: 未達成</p>
                    {% else %}
                        <p class="goal" id="achieveInfo">狀態: 失敗</p>
                    {% endif %}

                    <p class="goal" id="setDate">{{g.SetDate}}</p>
                    
                    <div class="buttonContainer">
                        {% if g.Achieved == 'N' %}
                            <button class="quitRequestButton" onclick="quitWarn('{{g.GoalNumber}}')"><i class="fa fa-close"></i> 放棄</button>
                            <br>
                            <button class="modifyRequestButton" onclick="sendModifyRequest('{{g.GoalNumber}}')"><i class="fa fa-edit"></i> 編輯</button>
                        {% endif %}
                        <button class="deleteRequestButton" onclick="deleteWarn('{{g.GoalNumber}}')"><i class="fa fa-trash"></i> 刪除</button>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h2 class="leisureGoals"><i class="fa fa-gamepad"></i> 休閒</h2>
            <div class="goalsOuterContainer" id="leisureGoalsContainer">
                {% for g in leisureGoals %}
                <div class="goalContainer">
                    {% if g.Achieved == 'Y' %}
                        <h3 class="goal" id="goal"><i class="fa fa-check-circle"></i> {{g.Goal}}</h3>
                    {% elif g.Achieved == 'F' %}
                        <h3 class="goal" id="goal"><i class="fa fa-times-circle"></i> {{g.Goal}}</h3>
                    {% else %}
                        <h3 class="goal" id="goal">({{g.AchievePercentage}}%) {{g.Goal}}</h3>
                    {% endif %}

                    {% if g.Category == 'Learning' %}
                        <p class="goal" id="item">{{g.Name}} ({{g.ItemNumber}})</p>
                    {% else %}
                        <p class="goal" id="item">{{g.Name}}</p>
                    {% endif %}

                    {% if g.Achieved == 'Y' %}
                        <p class="goal" id="achieveInfo">狀態: 已於{{g.AchieveDate}}達成</p>
                    {% elif g.Achieved == 'N' %}
                        <p class="goal" id="achieveInfo">狀態: 未達成</p>
                    {% else %}
                        <p class="goal" id="achieveInfo">狀態: 失敗</p>
                    {% endif %}

                    <p class="goal" id="setDate">{{g.SetDate}}</p>

                    <div class="buttonContainer">
                        {% if g.Achieved == 'N' %}
                            <button class="quitRequestButton" onclick="quitWarn('{{g.GoalNumber}}')"><i class="fa fa-close"></i> 放棄</button>
                            <br>
                            <button class="modifyRequestButton" onclick="sendModifyRequest('{{g.GoalNumber}}')"><i class="fa fa-edit"></i> 編輯</button>
                        {% endif %}
                        <button class="deleteRequestButton" onclick="deleteWarn('{{g.GoalNumber}}')"><i class="fa fa-trash"></i> 刪除</button>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h2 class="sportsGoals"><i class="fa fa-soccer-ball-o"></i> 運動</h2>
            <div class="goalsOuterContainer" id="sportsGoalsContainer">
                {% for g in sportsGoals %}
                <div class="goalContainer">
                    {% if g.Achieved == 'Y' %}
                        <h3 class="goal" id="goal"><i class="fa fa-check-circle"></i> {{g.Goal}}</h3>
                    {% elif g.Achieved == 'F' %}
                        <h3 class="goal" id="goal"><i class="fa fa-times-circle"></i> {{g.Goal}}</h3>
                    {% else %}
                        <h3 class="goal" id="goal">({{g.AchievePercentage}}%) {{g.Goal}}</h3>
                    {% endif %}

                    {% if g.Category == 'Learning' %}
                        <p class="goal" id="item">{{g.Name}} ({{g.ItemNumber}})</p>
                    {% else %}
                        <p class="goal" id="item">{{g.Name}}</p>
                    {% endif %}

                    {% if g.Achieved == 'Y' %}
                        <p class="goal" id="achieveInfo">狀態: 已於{{g.AchieveDate}}達成</p>
                    {% elif g.Achieved == 'N' %}
                        <p class="goal" id="achieveInfo">狀態: 未達成</p>
                    {% else %}
                        <p class="goal" id="achieveInfo">狀態: 失敗</p>
                    {% endif %}

                    <p class="goal" id="setDate">{{g.SetDate}}</p>

                    <div class="buttonContainer">
                        {% if g.Achieved == 'N' %}
                            <button class="quitRequestButton" onclick="quitWarn('{{g.GoalNumber}}')"><i class="fa fa-close"></i> 放棄</button>
                            <br>
                            <button class="modifyRequestButton" onclick="sendModifyRequest('{{g.GoalNumber}}')"><i class="fa fa-edit"></i> 編輯</button>
                        {% endif %}
                        <button class="deleteRequestButton" onclick="deleteWarn('{{g.GoalNumber}}')"><i class="fa fa-trash"></i> 刪除</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="requestContainer" style="display: none;"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/goals/goal_listAll_js.js"></script>
    </body>
</html>