<!DOCTYPE html>
<html>
    <title>Goal Input</title>
    <body>
        <div>
            <h1 id="title">Please enter a goal</h1>

            <!--form action="/goals/input/submit" method="post" id="goalInfo"-->
            <form id="goalInfoForm" enctype="multipart/form-data">
                Item:<select type="goal" name="itemNumber" form="goalInfoForm">
                    <option value="{{items[0].ItemNumber}}">{{items[0].Name}}</option>
                    {% for i in items[1:] %}
                        <option value="{{i.ItemNumber}}">{{i.Name}}</option>
                    {% endfor %}
                </select>
                <br>
                Goal:<input type="goal" name="goal" placeholder="Please describe a goal">
                <br>
                <button type="submit" id="submitButton">Submit</button>
            </form>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/goals/goal_input_js.js"></script>
    </body>
</html>