<!doctype html>
<html>
    <title>未完成的目標</title>

    <link rel="stylesheet" href="/static/goals/goal_existed_css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <body>
        <h1 class="containerTitle">還有未完成的目標</h1>

        <div id="goalOuterContainer">
            <div id="goalContainer">
                {% if goal.Achieved == 'Y' %}
                    <h3 class="goal" id="goal">{{goal.Goal}} <i class="fa fa-check-circle"></i></h3>
                {% elif goal.Achieved == 'Q' %}
                    <h3 class="goal" id="goal">{{goal.Goal}} <i class="fa fa-times-circle"></i></h3>
                {% else %}
                    <h3 class="goal" id="goal">{{goal.Goal}}</h3>
                {% endif %}

                {% if '-' in goal.ItemNumber %}
                    <p class="goal" id="item">{{goal.Name}} ({{goal.ItemNumber}})</p>
                {% else %}
                    <p class="goal" id="item">{{goal.Name}}</p>
                {% endif %}

                <p class="goal" id="achieveInfo">狀態: 未達成</p>
                
                {% if goal.Category == 'Learning' %}
                    <p class="goal" id="setDate"><i class="fa fa-book"></i> 學習 | {{goal.SetDate}}</p>
                {% elif goal.Category == 'Sports' %}
                    <p class="goal" id="setDate"><i class="fa fa-soccer-ball-o"></i> 運動 |  {{goal.SetDate}}</p>
                {% else %}
                    <p class="goal" id="setDate"><i class="fa fa-gamepad"></i> 休閒 |  {{goal.SetDate}}</p>
                {% endif %}

                <div id="buttonContainer">
                    <button id="modifyRequestButton" onclick="sendModifyRequest('{{goal.GoalNumber}}')"><i class="fa fa-edit"></i> 編輯</button>
                    <br>
                    <button id="backButton" onclick="back()">返回</button>
                </div>
            </div>
        </div>
        <div id="modifyRequestContainer" style="display: none;"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/goals/goal_existed_js.js"></script>
    </body>
</html>