<!DOCTYPE html>
<html>
    <title>編輯目標</title>

    <body onload="recordAndSetInfo()">
        <div id="goalContainer">
            <h1 id="title">Edit goal</h1>

            <form id="goalInfoForm" action="./modify/submit" method="post">
                項目 <select id="itemNumberSelect" name="itemNumber" form="goalInfoForm">
                    {% for i in items %}
                    {% if i.Category == 'Learning' %}
                        <option value="{{i.ItemNumber}}">{{i.Name}} ({{i.ItemNumber}})</option>
                    {% else %}
                        <option value="{{i.ItemNumber}}">{{i.Name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <br>
                目標 <input type="text" id="goalInput" name="goal" placeholder="Please describe a goal" value="{{goal.Goal}}" required>
                <br>
                
                <div id="hiddenGoalInfoContainer" style="display: none;">
                    <input type="text" id="goalNumberInput" name="goalNumber" value="{{goal.GoalNumber}}" disabled>
                </div>

                <div id="originalGoalInfoContainer" style="display: none;">
                    <input type="text" id="originalItemNumberInput" name="originalItemNumber" value="{{goal.ItemNumber}}">
                    <input type="text" id="originalAchievedInput" name="originalAchieved" value="{{goal.Achieved}}">
                </div>
                
                <button type="submit" id="confirmButton">儲存</button>
                <button type="button" id="cancelButton">取消</button>
            </form>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/goals/goal_modify_js.js"></script>
    </body>
</html>