<!DOCTYPE html>
<html>
    <title>輸入目標</title>

    <link rel="stylesheet" href="/static/goals/goal_input_css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <body onload="setInfo()">
        <a href="/home" title="go to Homepage">&lt; 回首頁</a>
        {% block flashMessage %}
            {% with messages = get_flashed_messages() %}
            <div class="messageContainer">
                {% for message in messages %}
                - {{ message }} <a href="./listAll" title="goal listAll">查看所有目標</a>
                {% endfor %}
            </div>
            {% endwith %}
        {% endblock %}
        
        <div id="goalContainer">
            <h1 class="containerTitle">請輸入目標  <i class="fa fa-rocket" aria-hidden="true"></i></h1>

            <form action="./input/submit" method="post" id="goalInfoForm">
            <!--form id="goalInfoForm" enctype="multipart/form-data"-->
                <label>項目</label> <select id="itemNumberSelect" name="itemNumber" form="goalInfoForm">
                    {% for i in items %}
                        <option value="{{i.ItemNumber}}">{{i.Name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label>目標</label> <input type="text" id="goalInput" name="goal" placeholder="Please describe a goal" required>
                <br>
                <button type="submit" id="submitButton">新增</button>
            </form>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/goals/goal_input_js.js"></script>
    </body>
</html>