<!doctype html>
<html>
    <title>Unfinished goals existed</title>

    <body>
        <div class="goalContainer">
            <h1 class="goalContainer">There's an unfinished goal</h1>

            <ul class="unfinishedGoal">
                <li class="unfinishedGoal">
                    <h3 class="unfinishedGoal" id="item">{{goal.Name}}</h3>
                    <p class="unfinishedGoal" id="goal">Goal: {{goal.Goal}}</p>
                    <p class="unfinishedGoal" id="achieved">Achieved: {{goal.Achieved}}</p>
                    <p class="unfinishedGoal" id="setDate">Set date: {{goal.SetDate}}</p>
                </li>
            </ul>
        </div>
    </body>
</html>